#base-content {
  background-color: white; }
  #base-content .content {
    background-image: url(../img/sky.jpg);
    background-repeat: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: 0 0 18px 0 #b1aaaa;
    position: relative;
    z-index: 6;
    margin: 0 9%;
    border-radius: 1%; }
    #base-content .content .content__nav-button .button--left {
      width: 100px; }
    #base-content .content .content__nav-button .button--right {
      position: absolute;
      right: 25px;
      width: 100px; }
    #base-content .content .content__nav-menu {
      position: absolute;
      top: 100px; }
      #base-content .content .content__nav-menu .nav-menu__image {
        list-style: none;
        display: inline-flex; }
        #base-content .content .content__nav-menu .nav-menu__image li .title {
          color: #660000;
          font-family: Lobster, cursive;
          font-size: 15px;
          font-size: 30px; }
        #base-content .content .content__nav-menu .nav-menu__image li .circular-image {
          width: 75%; }
        #base-content .content .content__nav-menu .nav-menu__image li ul {
          display: none;
          padding-left: 32px;
          list-style: none; }
          #base-content .content .content__nav-menu .nav-menu__image li ul li {
            color: #660000;
            font-family: Lobster, cursive;
            font-size: 15px; }
            #base-content .content .content__nav-menu .nav-menu__image li ul li .circular-image--two {
              position: relative;
              width: 50px; }
            #base-content .content .content__nav-menu .nav-menu__image li ul li span {
              float: right;
              width: 80px;
              margin-top: 15px; }
        #base-content .content .content__nav-menu .nav-menu__image li:hover ul {
          display: block; }
    #base-content .content .content__body {
      position: absolute;
      padding: 0px 10%;
      top: 100px;
      list-style: none;
      display: inline-flex; }
      #base-content .content .content__body img {
        width: 75%;
        opacity: 0.4;
        filter: alpha(opacity=100); }
        #base-content .content .content__body img:hover {
          opacity: 1.0;
          filter: alpha(opacity=40);
          width: 85%; }
        #base-content .content .content__body img:active {
          background-color: yellow; }
    #base-content .content h1 {
      color: #660000;
      font-family: Lobster, cursive;
      font-size: 15px;
      font-size: 30px;
      text-align: center;
      margin-top: 200px; }
    #base-content .content .content__showLanguage {
      margin: 0 12%; }
    #base-content .content .content__showVision {
      margin: 0 28%; }
    #base-content .content .content__showHearing {
      margin: 3% 36%; }
    #base-content .content .content__showMotility .content__showMotility--drag {
      display: flex;
      width: 60%;
      margin: 0 19%; }
      #base-content .content .content__showMotility .content__showMotility--drag img {
        width: 100%; }
    #base-content .content .content__shadow img {
      width: 100%; }
    #base-content .content .content__wraper-main {
      background-image: url("../img/grass.png");
      background-repeat: no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      margin-top: 35%; }
      #base-content .content .content__wraper-main img {
        width: 100%; }
    #base-content .content .content__wraper {
      background-image: url("../img/grass.png");
      background-repeat: no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
      #base-content .content .content__wraper img {
        width: 100%; }
    #base-content .content .content__about {
      background-color: #669900;
      padding: 15% 10%;
      text-align: center; }
      #base-content .content .content__about .content__about--information {
        border: 2px solid #acacac;
        border-radius: 3px;
        box-shadow: 3px 3px 6px 2px #acacac;
        padding: 30px 70px; }
        #base-content .content .content__about .content__about--information .content__about--header {
          color: #660000;
          font-family: Lobster, cursive;
          font-size: 15px;
          font-size: 35px;
          margin-top: 45px; }
        #base-content .content .content__about .content__about--information p {
          color: #660000;
          font-family: Lobster, cursive;
          font-size: 15px; }
    #base-content .content .content__footer .item::before {
      width: 0px; }
    #base-content .content .content__footer .item--blue {
      color: blue; }
    #base-content .content .content__footer .item--red {
      color: red; }
    #base-content .content .content__footer .item--green {
      color: green; }
    #base-content .content .content__footer .item--orange {
      color: orange; }

/*# sourceMappingURL=application.css.map */

/*# sourceMappingURL=application.css.map */
