@media screen and (min-width: 300px) and (max-width: 480px) {
    body {
        h2 {
            font-size: 25px;
        }
        button {
            width: 100%;
        }
        .menu {
            .menu__text {
                width: 100%;
                display: block;
                h3 {
                    font-size: 25px;
                }

                .play {
                width: 100%;
                text-align: left;
            }
                #play {
                max-width: 100%;
                }
            }
        }
    }
}
html {
    margin: 0;
    padding: 0;
    background-color: #050505;
    body {
      color: white;
      z-index: 1;
        h2 {
        font-size: 28px;
     }
        p {
        font-family: Times;
        color: #766271;
        line-height: 1.5em;
     }
        button {
        background-color: #3399FF;
        border-radius: 5px;
        height: 50px;
        width: 220px;
        color: #fff;
        font-size: larger;
        border: 2px solid #1282ae;
     }
        .main {
        text-align: center;
        background: radial-gradient(ellipse at top center, rgba(66,41,44,1) 10%,rgba(62,20,45,1) 40%,rgba(38,8,40,1) 50%,rgba(5,5,5,0) 70%);
     }
        .menu {
            margin: 5% 20%;
            &__text {
                display: flex;
                margin: 10% 0;
                h3 {
                font-family: Times;
                font-size: 28px;
                }
                #play {
                    background: radial-gradient(ellipse at bottom center, rgba(68,62,106,1) 5%,rgba(68,62,106,1) 25%,rgba(27,53,69,1) 50%,rgba(5,5,5,1) 75%);
                }
            }
        }
        .footer {
                text-align: center;
                background: radial-gradient(ellipse at bottom center, #42292c 0%,#3e142d 28%,#260828 58%,#050505 85%);
            }
    }
}
