<div class="content__about--information">
                    <h1 class="content__about--header">Little about us</h1>
                    <p class="content__about--paragraph">Hi to all! I want to tell you a bit about us. We all know that each of our children is unique, but would like to check how well it develops its years . Here you can find lots of inspections sensory , vision and motor skills of hands, to check speech and auditory perception</p>
                    <p class="content__about--paragraph">
                    The most important period - from 6 months to 6 years. Even if your child does not complain of poor vision, do not neglect common diagnosis. There are a variety of pictures to test, as well as interesting tests for kids, presented in the form of games.
                    </p>
                    <p class="content__about--paragraph">The most important period - from 6 months to 6 years. Even if your child does not complain of poor vision, do not neglect common diagnosis. There are a variety of pictures to test, as well as interesting tests for kids, presented in the form of games.
                    </p>
                    <p class="content__about--paragraph">
                    The presence or absence of reaction to the sound of a child can be found from the first days of life. To do this, parents should use the estimated response of the baby, which occurs in his response to any stimulation sound-loud music or loud speech, noise outside, phone call, etc.
                    </p>
                    <p class="content__about--paragraph">Hi to all! I want to tell you a bit about us. We all know that each of our children is unique, but would like to check how well it develops its years .
                    </p>
                </div>

